*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #14120b;
   color: #edecec;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 90%;
    margin: 0px auto;
    padding: 10px 20px;
    font-size: 15px;

}
.child1{
    display: flex;
    align-items: center;
    gap: 2;
}
.img2{
    height: 13px;
    width: auto;
    
}
.child2{
    align-self: center;
    margin-left: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
}
nav button{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px ;
    cursor: pointer;
    background-color:black ;
    color: white;
}
.btn1{
    margin-right: 15px;
    background-color: white;
    color: #000;
}
/* Nav section complete */

.Download{
    width: 42%;
    height: 280px;
    font-size: 30px;
    margin: 0 90px;
    padding-top: 120px;
}

.Download button{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    margin-top: 20px;
}
.hero-image{
    width: 85%;
    margin: 20px 6%;
    border-radius: 5px;
}
#company-logos{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 50px;
    align-items: center;
    flex-wrap: wrap;
}

#company-logos p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 18px;
   
}
#company-logos img{
    
    width: 153px;
    height: 100px;
    padding: 30px 30px;
    background-color: #1B1913;
    margin-left: 5px;
}

.Features-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;  
    width: 85%;
    margin: 50px 80px;

}
.Features-box{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color:#1B1913 ;
   
}

.Features-box img{
    width:850px;
    height: 700px;
}
.Features-box p{
    font-size: 20px;
    margin: 5px;
}