*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #14120b;
   color: #edecec;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 90%;
    margin: 0px auto;
    padding: 10px 20px;
    font-size: 15px;

}
.child1{
    display: flex;
    align-items: center;
    gap: 2;
}
.img2{
    height: 13px;
    width: auto;
    
}
.child2{
    align-self: center;
    margin-left: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
}
nav button{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px ;
    cursor: pointer;
    background-color:black ;
    color: white;
}
.btn1{
    margin-right: 15px;
    background-color: white;
    color: #000;
}
/* Nav section complete */

.Download{
    width: 42%;
    height: 280px;
    font-size: 30px;
    margin: 0 90px;
    padding-top: 120px;
}

.Download button{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    margin-top: 20px;
}
.hero-image{
    width: 85%;
    margin: 20px 6%;
    border-radius: 5px;
}
#company-logos{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 50px;
    align-items: center;
    flex-wrap: wrap;
}

#company-logos p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 18px;
   
}
#company-logos img{
    
    width: 153px;
    height: 100px;
    padding: 30px 30px;
    background-color: #1B1913;
    margin-left: 5px;
}

.Features-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;  
    width: 85%;
    margin: 50px 80px;

}
.Features-box{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color:#1B1913 ;
   
}

.Features-box img{
    width:850px;
    height: 700px;
}
.Features-box p{
    font-size: 20px;
    margin: 5px;
}
.usecases{
    margin-left:5% 
}
.usecases p{
    font-size: 25px;
    
}

.card{
    display: flex;
    width: 85%;
    margin: 20px 73px;
    gap: 20px;
}

.card div{

    width: 33%;
    background-color: #1B1913;
    padding: 20px ;
    
}
.card div p{
    line-height: 1.5;
}
.red{
    margin-top: 15px;
    margin-bottom: 15px;
    color:red;
}
.card div img{

    width:100%;
    height:400px;
}

.changelog{
display: flex;
    width: 85%;
    margin: 20px 73px;
    gap: 20px;

}
.changelog div{
    background-color: #1B1913;
    padding: 20px;
}
.changelog p{
  margin: 20px 0;
}
.changelog span{
    color: rgba(237, 236, 236, 0.6); ;
}
.circle{
    border: 2px solid rgba(237, 236, 236, 0.6);
    border-radius: 20px;
    padding: 5px;
    margin-right: 20px;
}
.updates{
    color: red;
    margin: 2% 5%;
}

.Features-join {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 85%;
    margin: 50px 80px;
    height: 400px;

}
.Features-box-join {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: #1B1913;

}
.Features-join img {
    width: 850px;
    height: 500px;
}
.Features-join p {
    font-size: 20px;
    margin: 25px;
}
.highlight{
    margin-top: 400px;
    background-color: #1B1913;
    /* height: 400px; */
    padding: 100px;
    display: flex;
    gap: 200px;
}
.highlight-card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.highlight-card div{
    background-color: #201E18;
    padding: 20px;
}

.highlight-card p{
    line-height: 1.5;
    color: rgba(237, 236, 236, 0.6); 
    width: 90%;
    font-size: 18px;
}
.download{
    text-align: center;
    margin: 180px 0;
}
.download p{
    font-size: 70px;
}
.download button{
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
    margin: 10px;
}
footer{
    display: flex;
    background-color: #1B1913;
    /* gap:150px; */
    justify-content: space-around;
    padding: 80px 0;
    padding-right: 100px;
}
footer p{
    line-height: 2.0;
}
footer p:first-child {
    color: grey;
}
.copyright{
    padding: 20px 100px;
    background-color: #1B1913;
    color: rgba(237, 236, 236, 0.6); 
}


.new-way{
    display: flex;
    width: 90%;
    margin: 40px 80px;
    gap:15px;
    flex-wrap: wrap;
}
.text-main{
    background-color: #1B1913;
    width: 31%;
    padding: 20px;
}
.text-card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.text-inside{
    display: flex;
    gap:20px;
    margin-top: 60px ;
}